@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400&display=swap');
.cardGrid{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Raleway', sans-serif;
}
.card{
    width: 33.33%;
    box-sizing: unset;
    display: flex;
    flex-direction: column;
    max-width: 18em;
    max-height: 29em;
    min-height: 25em;
    height: auto;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1em;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    border: 1px solid rgba(0,168,255,.3);
}
.cardImg{
    width: 100%;
}
.desc{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.cardTitle{
    font-weight: 600;
    line-height: 1.14;
    margin-bottom: 5px;
    color: #000;
}
.cardAuthor{
    display: flex;
}
.author{
    line-height: 1.5;
    color: #0096ff;
    font-size: .9em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    margin: 0;
}
.cardDate{
    color: rgba(0,0,0,.7);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin-top: .2em;
}
.cardDesc{
    margin-top: 13px;
    color: rgba(0,0,0,.6);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: .35px;
    text-align: left;
    white-space: pre-wrap;
}

@media only screen and (max-width: 700px) {
    .card{
        width:100%;
    }
}