@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.insideFooter{
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-between;
}
.footerElement{
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-top: 0;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .3px;
    text-align: left;
}
.footerHeading{
    display: inline-flex;
    margin-bottom: 1em;
    color: hsla(0,0%,100%,.5);
    font-weight: 500;
}
.footerElement a{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}
.address{
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-top: 0;
}
.mailImg{
    padding: 0;
    position: relative;
    bottom: -5px;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    margin-right: 4px;
}
.contactInfo{
    margin-top: 30px;
    margin-bottom: 16px;
    display: flex;
    justify-content: start;
    -webkit-tap-highlight-color: transparent;
}
.socialImg{
    text-decoration: none;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0;
}
.socialImg1{
    padding-left: 0;
    width: 25px;
    height: 20px;
    padding-right: 12px;
    margin-left: 4px;
    margin-right: 4px;
}
@media only screen and (max-width: 700px) {
    .insideFooter{
        flex-direction: column;
    }
}