@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Topbar{
    width: 100%;
    height: 80px;
    z-index: 90;
    padding: 1em 4.875em;
    background-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    position: fixed;
    font-size: 16px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.logoWrap{
    width: auto;
    height: 100%;
    text-decoration: none;
}
.logo{
    font-size: 2em;
    margin-top: 0;
    width: 130px;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(269deg,#0048ff,#0096ff),linear-gradient(#000,#000);
    color: #0084ff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: -.9px;
    text-align: left;
}
.subheading{
    object-fit: contain;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    line-height: .8;
    letter-spacing: .9px;
    color: #000;
}
.categories{
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .9px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    color: #000;
    margin-left: 40px;
}
.drop{
    margin-left: 5px;
    margin-top: 3px;
    cursor: pointer;
}
.tooltipDiv{
    display: none;
    flex-direction: column;
    justify-content: center;
    width:236px;
    position: absolute;
    bottom: -275px;
    border-radius: 4px;
    height: auto;
    color: #666;
    background-color: #fff;
    font-weight: 400;
    box-shadow: 0 1px 8px rgba(0,0,0,.5);
    z-index: 150;
    letter-spacing: 1px;
    font-size: 13px;
    left:240px;
    padding:5px 25px;
}
.tooltip{
    padding:5px 0;
    cursor: pointer;
}
